<h1>Flight Details</h1>
<p>Flight Number: <%= @flight.departing_flight_number %></p>
<p>    Departure Airport: <%= @flight.departure_airport.airport_name %>  </p>
<p>  Arrival Airport: <%= @flight.arrival_airport.airport_name%>  </p>
